<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>NetworkState</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>local.gomitalk</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/gomitalk-server</string>
		<string>-http=:9095</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
        <key>StandardErrorPath</key>
        <string>/var/log/gomitalk.log</string>
        <key>StandardOutPath</key>
        <string>/var/log/gomitalk.log</string>
</dict>
</plist>
